In [18]:
import pandas as pd
import numpy as np

In [61]:
df = pd.read_csv('./가계부.csv')

df.iloc[-2:-1,:]

    Unnamed: 0       날짜 수익/지출     금액 대분류 소분류  항목명  평가  동백전유무  고정지출
25          25  07월 25일    지출  27640  식비  집밥  식품류   3      0     0

0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    1
22    0
23    0
24    0
25    0
26    0
Name: 고정지출, dtype: int64

In [31]:
날짜 = input('날짜 (ex 07월 24일)')

손익 = input('수익/지출: ')

금액 = int(input('금액: '))

대분류 = input('대분류: ')

소분류 = input('소분류: ')

항목명 = input('세부내역: ')

평가 = input('소비 자가평가: ')

동백전 = input('동백전 사용시 1, 미사용시 0: ')

고정지출 = input('고정지출일시 1, 유동 지출 일시 0:')


input_data = {'날짜' : [날짜], '수익/지출': [손익], '금액': [금액], '대분류': [대분류], '소분류': [소분류], '항목명': [항목명], '평가': [평가], '동백전유무': [동백전], '고정지출': [고정지출]}

append_df = pd.DataFrame(input_data)

df = pd.concat([df, append_df], ignore_index=True)

df.to_csv('./가계부.csv')

In [81]:
df

,Unnamed: 0,날짜,수익/지출,금액,대분류,소분류,항목명,평가,동백전유무,고정지출
0,0,07월 23일,수익,1900000,대출,대출,NaN,3,0,0
1,1,07월 23일,지출,900000,보증금,보증금,NaN,3,0,0
2,2,07월 23일,지출,110000,공인중개비,공인중개비,NaN,3,0,0
3,3,07월 23일,지출,300000,월세,월세,NaN,3,0,1
4,4,07월 23일,지출,12500,식비,외식,김가네,3,0,0
5,5,07월 23일,지출,3500,생필품,도구,드라이버,3,0,0
6,6,07월 23일,지출,2500,생필품,주방,행주,3,0,0
7,7,07월 23일,지출,4400,생필품,도구,빗자루,3,0,0
8,8,07월 23일,지출,13843,가구,가구,식탁,3,0,0
9,9,07월 23일,지출,3520,생필품,전자제품,lan선,3,0,0
10,10,07월 23일,지출,12500,생필품,도구,밀대걸레,3,0,0
11,11,07월 23일,지출,31517,생필품,도구,수건,3,0,0
12,12,07월 23일,지출,2000,식비,커피,히스피,3,1,0
13,13,07월 23일,지출,12900,생필품,도구,"빗자루, 쓰레기통",3,1,0
14,14,07월 24일,지출,38920,생필품,도구,도구류,3,1,0
15,15,07월 24일,지출,2000,식비,커피,히스피,3,1,0
16,16,07월 24일,지출,9500,식비,외식,김가네,3,0,0
17,17,07월 24일,지출,23750,생필품,욕실,욕실류,3,0,0
18,18,07월 24일,지출,99880,통신,통신,NaN,3,0,0
19,19,07월 24일,지출,12000,생필품,도구,도구류,3,0,0
20,20,07월 25일,지출,109750,가구,가구,매트리스,3,0,0
21,21,07월 25일,지출,2400,구글플레이,구글플레이,NaN,3,0,1
22,22,07월 25일,지출,6650,식비,외식,CU,3,1,0
23,23,07월 24일,지출,4500,식비,커피,컴포즈커피,3,1,0
24,24,07월 25일,지출,1800,식비,커피,니뜨내뜨,3,1,0
25,25,07월 25일,지출,27640,식비,집밥,식품류,3,0,0
26,26,07월 25일,지출,7400,생필품,도구,식칼,3,0,0

In [95]:
sum(df.loc[df.loc[:,'대분류'] == '생필품', '금액']) + sum(df.loc[df.loc[:,'대분류'] == '가구', '금액'])

276500

         날짜 수익/지출       금액    대분류    소분류        항목명  평가 동백전유무 고정지출
0   07월 23일    수익  1900000     대출     대출        NaN   3     0    0
1   07월 23일    지출   900000    보증금    보증금        NaN   3     0    0
2   07월 23일    지출   110000  공인중개비  공인중개비        NaN   3     0    0
3   07월 23일    지출   300000     월세     월세        NaN   3     0    1
4   07월 23일    지출    12500     식비     외식        김가네   3     0    0
5   07월 23일    지출     3500    생필품     도구       드라이버   3     0    0
6   07월 23일    지출     2500    생필품     주방         행주   3     0    0
7   07월 23일    지출     4400    생필품     도구        빗자루   3     0    0
8   07월 23일    지출    13843     가구     가구         식탁   3     0    0
9   07월 23일    지출     3520    생필품   전자제품       lan선   3     0    0
10  07월 23일    지출    12500    생필품     도구       밀대걸레   3     0    0
11  07월 23일    지출    31517    생필품     도구         수건   3     0    0
12  07월 23일    지출     2000     식비     커피        히스피   3     1    0
13  07월 23일    지출    12900    생필품     도구  빗자루, 쓰레기통   3     1    0
14  07월 24일    지출    38920    생필품     도구        도구류   3     1    0
15  07월 24일    지출     2000     식비     커피        히스피   3     1    0
16  07월 24일    지출     9500     식비     외식        김가네   3     0    0
17  07월 24일    지출    23750    생필품     욕실        욕실류   3     0    0
18  07월 24일    지출    99880     통신     통신        NaN   3     0    0
19  07월 24일    지출    12000    생필품     도구        도구류   3     0    0
20  07월 25일    지출   109750     가구     가구       매트리스   3     0    0
21  07월 25일    지출     2400  구글플레이  구글플레이        NaN   3     0    1
22  07월 25일    지출     6650     식비     외식         CU   3     1    0
23  07월 24일    지출     4500     식비     커피      컴포즈커피   3     1    0
24  07월 25일    지출     1800     식비     커피       니뜨내뜨   3     1    0
25  07월 25일    지출    27640     식비     집밥        식품류   3     0    0
26  07월 25일    지출     7400    생필품     도구         식칼   3     0    0