In [13]:
import pandas as pd
import numpy as np

In [85]:
df = pd.read_excel('./가계부.xlsx')

df

    월   일 수익/지출       금액    대분류    소분류        항목명  평가  동백전유무  고정지출
0   7  22    수익  1900000     대출     대출        NaN   3      0     0
1   7  23    지출   900000    보증금    보증금        NaN   3      0     0
2   7  23    지출   110000  공인중개비  공인중개비        NaN   3      0     0
3   7  23    지출   300000     월세     월세        NaN   3      0     1
4   7  23    지출    12500     식비     외식        김가네   3      0     0
5   7  23    지출     3500    생필품     도구       드라이버   3      0     0
6   7  23    지출     2500    생필품     주방         행주   3      0     0
7   7  23    지출     4400    생필품     도구        빗자루   3      0     0
8   7  23    지출    13843     가구     가구         식탁   3      0     0
9   7  23    지출     3520    생필품   전자제품       lan선   3      0     0
10  7  23    지출    12500    생필품     도구       밀대걸레   3      0     0
11  7  23    지출    31517    생필품     도구         수건   3      0     0
12  7  23    지출     2000     식비     커피        히스피   3      1     0
13  7  23    지출    12900    생필품     도구  빗자루, 쓰레기통   3      1     0
14  7  24    지출    38920    생필품     도구        도구류   3      1     0
15  7  24    지출     2000     식비     커피        히스피   3      1     0
16  7  24    지출     9500     식비     외식        김가네   3      0     0
17  7  24    지출    23750    생필품     욕실        욕실류   3      0     0
18  7  24    지출    99880     통신     통신        NaN   3      0     0
19  7  24    지출    12000    생필품     도구        도구류   3      0     0
20  7  25    지출   109750     가구     가구       매트리스   3      0     0
21  7  25    지출     2400  구글플레이  구글플레이        NaN   3      0     1
22  7  25    지출     6650     식비     외식         CU   3      1     0
23  7  24    지출     4500     식비     커피      컴포즈커피   3      1     0
24  7  25    지출     1800     식비     커피       니뜨내뜨   3      1     0
25  7  25    지출    27640     식비     집밥        식품류   3      0     0
26  7  25    지출     7400    생필품     도구         식칼   3      0     0

2191042309072

2191042309072

In [64]:

def month_input():
    month_input = input('월을 입력하십시오.: ')
    month_list = []
    for i in month_input:
        if i.isdigit() == True:
            month_list.append(i)
    if len(month_list) >2 or len(month_list) == 0:
        print('형식이 맞지 않습니다. 다시 입력해주세요.')
        return False

    month_int = int(''.join(month_list))

    if month_int > 12 or month_int < 1:
        print('1월과 12월 사이로 입력해주십시오.')
        return False
    
    return month_int

month_input()

형식이 맞지 않습니다. 다시 입력해주세요.

False

In [77]:
def day_input(month):
    day_input = input('일을 입력하십시오.: ')
    day_list = []

    for i in day_input:
        if i.isdigit() == True:
            day_list.append(i)
    if len(day_list) >2 or len(day_list) == 0:
        print('형식이 맞지 않습니다. 다시 입력해주세요.')
        return False

    day_int = int(''.join(day_list))

    if month == 2:
        if day_int <1 or day_int >29:
            print(f'{month}월은 1일부터 29일 사이로 입력해주십시오.')
            return False
    elif month in [1,3,5,7,8,10,12]:
        if day_int <1 or day_int >32:
            print(f'{month}월은 31일까지 있습니다.')
            return False
    else:
        if day_int <1 or day_int >31:
            print(f'{month}월은 30일까지 있습니다.')
            return False

    return day_int

day_input()

3월은 31일까지 있습니다.

False

In [87]:
def in_ex():
    in_ex_input = input('수익 / 지출')
    if in_ex_input in ['수익','수입','이득']:
        return '수익'
    elif in_ex_input in ['지출','소비','손해']:
        return '지출'
    for i in in_ex_input:
        if i in ['수','ㅅ', 'ㅇ','익','입','이','득']:
            return '수익'
        elif i in ['지', 'ㅈ','ㅊ','지','씀','출','손','소']:
            return '지출'
    else:
        print('가능하면 알아들을 수 있게 써 주십시오.')
        return False
        
in_ex()

가능하면 알아들을 수 있게 써 주십시오.

False

In [ ]:
maincategory = list(df.loc[:,'대분류'].unique())

def main_category(category):
    main = input(f'{category} 중 선택해주시기 바랍니다. :')

    if main not in category:
        append_main = input('새로운 대분류를 추가하시겠습니까? y/n')
        if append_main in ['y', 'Y', '네', '예']:
            print('새로운 대분류가 추가되었습니다.')
            return main
        else:
            print('대분류를 다시 입력해주시기 바랍니다.')
            return False
    else:
        return main

In [31]:

손익 = input('수익/지출: ')

금액 = int(input('금액: '))

대분류 = input('대분류: ')

소분류 = input('소분류: ')

항목명 = input('세부내역: ')

평가 = input('소비 자가평가: ')

동백전 = input('동백전 사용시 1, 미사용시 0: ')

고정지출 = input('고정지출일시 1, 유동 지출 일시 0:')


input_data = {'날짜' : [날짜], '수익/지출': [손익], '금액': [금액], '대분류': [대분류], '소분류': [소분류], '항목명': [항목명], '평가': [평가], '동백전유무': [동백전], '고정지출': [고정지출]}

# append_df = pd.DataFrame(input_data)

# df = pd.concat([df, append_df], ignore_index=True)

# df.to_csv('./가계부.csv')

In [4]:
sum(df.loc[df.loc[:,'대분류'] == '생필품', '금액']) + sum(df.loc[df.loc[:,'대분류'] == '가구', '금액'])

276500

In [84]:
df.to_excel('./가계부.xlsx', index=False)

In [88]:
def mass_percent():
    saltW,saltA = [], []
    for _ in range(5):
        salt = input('소금물의 농도(%)와 소금물의 양(g)을 입력하십시오: ')
        if salt == 'Done':
            break
        P, W = salt.split(' ')
        P = P[:-1]
        A = int(W) * 0.01*P
        saltA.append(A)
        saltW.append(int(W))
    return (sum(saltA)/sum(saltW))*100

mass_percent()

AttributeError: 'str' object has no attribute 'remove'